<a href="https://colab.research.google.com/github/jnelly79/Colorado_Solar_Installation_Adoption_Rates_DS/blob/master/data_cleaning/cleaning_county_solar_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import Pandas
import pandas as pd

In [ ]:
# Read the county demographic solar data estimates.
df = pd.read_csv('/content/drive/My Drive/datasets/data_practicum/county_demographic_solar_data_est.csv')

In [ ]:
df.head()

   Unnamed: 0  ...  total_est_number_tree_seedlings_grown_10_yrs
0           0  ...                                         45.5M
1           1  ...                                           NaN
2           2  ...                                         53.5M
3           3  ...                                           NaN
4           4  ...                                           NaN

[5 rows x 16 columns]

In [ ]:
# Figure out the dtypes.
df.dtypes

Unnamed: 0                                        int64
CFIPS                                             int64
YEAR                                              int64
COUNTY                                           object
Households                                        int64
total_roofs_installed                            object
total_est_roofs                                  object
total_est_sqft_of_overall_roofs                  object
total_est_capacity_of_mW_dc                      object
total_est_MWh_ac_per_year                        object
total_est_median_roof_space                     float64
total_est_median_kW_dc_capacity                 float64
total_est_median_kWH_ac_per_year                 object
total_est_carbon_metric_tons                     object
total_est_cars_off_road__per_yr                  object
total_est_number_tree_seedlings_grown_10_yrs     object
dtype: object

In [ ]:
# Convert all Dtypes to str.
df = df.astype(str)

In [ ]:
# Function to return numbers back to integer format.
def convert_si_to_number(x):
    total_stars = 0
    if 'K' in x:
        if len(x) > 1:
            total_stars = float(x.replace('K', '')) * 1000 # convert k to a thousand
    elif 'M' in x:
        if len(x) > 1:
            total_stars = float(x.replace('M', '')) * 1000000 # convert M to a million
    elif 'B' in x:
      total_stars = float(x.replace('B', '')) * 1000000000 # convert B to a Billion
    elif ',' in x:
      total_stars = float(x.replace(',','')) # removing ,
    elif 'nan' in x:
      pass
    elif '.' in x:
      total_stars = int(x.replace('.',''))
    else:
        total_stars = int(x) # Less than 1000
    
    return int(total_stars)

In [ ]:
# Apply function to all the scraped data coloumns in the dataframe.
df['total_roofs_installed'] = df['total_roofs_installed'].apply(convert_si_to_number)
df['total_est_roofs'] = df['total_est_roofs'].apply(convert_si_to_number)
df['total_est_sqft_of_overall_roofs'] = df['total_est_sqft_of_overall_roofs'].apply(convert_si_to_number)
df['total_est_capacity_of_mW_dc'] = df['total_est_capacity_of_mW_dc'].apply(convert_si_to_number)
df['total_est_MWh_ac_per_year'] = df['total_est_MWh_ac_per_year'].apply(convert_si_to_number)
df['total_est_median_roof_space'] = df['total_est_median_roof_space'].apply(convert_si_to_number)
df['total_est_median_kW_dc_capacity'] = df['total_est_median_kW_dc_capacity'].apply(convert_si_to_number)
df['total_est_median_kWH_ac_per_year'] = df['total_est_median_kWH_ac_per_year'].apply(convert_si_to_number)
df['total_est_carbon_metric_tons'] = df['total_est_carbon_metric_tons'].apply(convert_si_to_number)
df['total_est_cars_off_road__per_yr'] = df['total_est_cars_off_road__per_yr'].apply(convert_si_to_number)
df['total_est_number_tree_seedlings_grown_10_yrs'] = df['total_est_number_tree_seedlings_grown_10_yrs'].apply(convert_si_to_number)

In [ ]:
df.head()

  Unnamed: 0  ... total_est_number_tree_seedlings_grown_10_yrs
0          0  ...                                     45500000
1          1  ...                                            0
2          2  ...                                     53500000
3          3  ...                                            0
4          4  ...                                            0

[5 rows x 16 columns]

In [ ]:
# Export the cleaned and reformated data back to a csv or excel file.
df.to_excel('/content/drive/My Drive/datasets/data_practicum/county_demographic_solar_data_est.xlsx', sheet_name='cleaned')