<a href="https://colab.research.google.com/github/jnelly79/Colorado_Solar_Installation_Adoption_Rates_DS/blob/master/exploring_data/exploring_CO2_emissions_CO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import pandas and visualization libraries.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Load in the data for Colorado CO2 emissions.
df = pd.read_excel('/content/drive/My Drive/datasets/data_practicum/CO2_emissions_CO.xlsx', sheet_name='cleaned')

In [ ]:
# Display the head
df.head()

   Years   Coal  Petroleum Products  Natural Gas  Total
0   1980  0.043               0.442        4.734  5.219
1   1981  0.035               0.541        3.961  4.537
2   1982  0.044               0.635        4.498  5.177
3   1983  0.026               0.813        4.494  5.333
4   1984  0.049               0.385        4.969  5.403

In [ ]:
# Display dataframe shape
df.shape

(38, 5)

In [ ]:
# Display dataframe info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Years               38 non-null     int64
 1   Coal                38 non-null     float64
 2   Petroleum Products  38 non-null     float64
 3   Natural Gas         38 non-null     float64
 4   Total               38 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 1.6 KB

In [ ]:
# Display dataframe basic statistics.
df.describe()

             Years       Coal  Petroleum Products  Natural Gas      Total
count    38.000000  38.000000           38.000000    38.000000  38.000000
mean   1998.500000   0.022947            0.581921     5.923842   6.528816
std      11.113055   0.022820            0.202009     1.006623   1.127644
min    1980.000000   0.000000            0.059000     3.961000   4.537000
25%    1989.250000   0.000750            0.430750     4.963750   5.381250
50%    1998.500000   0.019500            0.642500     6.068500   6.478000
75%    2007.750000   0.041750            0.741750     6.825000   7.584000
max    2017.000000   0.077000            0.926000     7.402000   8.224000