<a href="https://colab.research.google.com/github/jnelly79/Colorado_Solar_Installation_Adoption_Rates_DS/blob/master/exploring_data/exploring_gobal_co2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import pandas and visualization libraries.
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
# Load in the global CO2 emissions data.
df = pd.read_excel('/content/drive/My Drive/datasets/data_practicum/global_co2_concentrations_overtime.xlsx', sheet_name='clean')

In [ ]:
# Display the data head.
df.head()

    Year   CO2 ppm
0 -796562    191.0
1 -795149    188.4
2 -794517    189.3
3 -793252    195.2
4 -792658    199.4

In [ ]:
# Display the dataframe shape.
df.shape

(1359, 2)

In [ ]:
# Display the daatframe info.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Year     1359 non-null   int64
 1   CO2 ppm  1359 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 21.4 KB

In [ ]:
# Display the basic statisics of the data.
df.describe()

               Year       CO2 ppm
count    1359.000000  1359.000000
mean  -313069.128035   243.926571
std    281570.433674    38.915326
min   -796562.000000   171.600000
25%   -571299.500000   214.700000
50%   -277370.000000   239.500000
75%     -5416.500000   273.700000
max      2015.000000   400.830000

In [ ]:
# Display value counts to see if there are more than one recorded value.
df['CO2 ppm'].value_counts()

283.2    8
276.4    8
239.1    7
208.1    6
283.1    6
        ..
262.0    1
273.8    1
215.2    1
221.0    1
214.6    1
Name: CO2 ppm, Length: 799, dtype: int64