<a href="https://colab.research.google.com/github/jnelly79/Colorado_Solar_Installation_Adoption_Rates_DS/blob/master/integration/integrate_county_income_solar_random_address.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import pandas.
import pandas as pd

In [ ]:
"""
Load the random solar address data, the the Colorado zip codes and counties, 
and the personal income GDP data.
"""
df = pd.read_excel('/content/drive/My Drive/datasets/data_practicum/random_address_solar_data3.xlsx', sheet_name='cleaned')
df1 = pd.read_excel('/content/drive/My Drive/datasets/data_practicum/CO_zip_counties1.xlsx')
df2 = pd.read_excel('/content/drive/My Drive/datasets/data_practicum/Personal_Income_in_Colorado.xlsx', sheet_name='cleaned')

In [ ]:
# Display the head of the random solar data.
df.head()

                            addresses  ... 20_year_save
0  13715 W 51st Ave, Arvada, CO 80002  ...         4171
1  5295 Gladiola St, Arvada, CO 80002  ...          133
2    5722 Xenon Way, Arvada, CO 80002  ...         5297
3      5955 Carr St, Arvada, CO 80004  ...         3079
4   7439 W 74th Ave, Arvada, CO 80003  ...         4608

[5 rows x 12 columns]

In [ ]:
# Convert the  counties data to Dtype string. 
df1 = df1.astype(str)

In [ ]:
# Display Colorado counties and zipcodes data.
df1.head()

     zip    City     County      Type
0  80001  Arvada  Jefferson  P.O. Box
1  80002  Arvada  Jefferson  Standard
2  80003  Arvada  Jefferson  Standard
3  80004  Arvada  Jefferson  Standard
4  80005  Arvada  Jefferson  Standard

In [ ]:
# Create a function find_zip.
def find_zip(x):
  for i, row in df1['zip'].iteritems():
    if str(row) in x:
      return df1['County'][i]

In [ ]:
"""
Apply the function to the addresses column of the random solar addresses to 
create a new column on counties. 
"""
df['county'] = df['addresses'].apply(find_zip)

In [ ]:
## Display the dataframe head of solar data.
df.head()

                            addresses  ... 20_year_save
0  13715 W 51st Ave, Arvada, CO 80002  ...         4171
1  5295 Gladiola St, Arvada, CO 80002  ...          133
2    5722 Xenon Way, Arvada, CO 80002  ...         5297
3      5955 Carr St, Arvada, CO 80004  ...         3079
4   7439 W 74th Ave, Arvada, CO 80003  ...         4608

[5 rows x 12 columns]

In [ ]:
# Display the dataframe head for personal income of per capita GDP per county.
df2.head()

  location_type    location  ... income population
0        County      Adams   ...  41215     503167
1        County    Alamosa   ...  35721      16551
2        County   Arapahoe   ...  56642     643052
3        County  Archuleta   ...  39944      13315
4        County       Baca   ...  42019       3562

[5 rows x 6 columns]

In [ ]:
# Convert the Dtype of the per capita GDP dataframe to string.
df2 = df2.astype(str)

In [ ]:
# Create the find_county function.
def find_county(x):
  for i, row in df2['location'].iteritems():
    if x in str(row):
      return df2['income'][i]

In [ ]:
"""
Apply the find_county function to the county feature of the solar address
dataframe and create a new feature called 'assumed_income'.
"""
df['assumed_income'] = df['county'].apply(find_county)

In [ ]:
# Display the solar dataframe head.
df.head()

                            addresses     county  ...  20_year_save  assumed_income
0  13715 W 51st Ave, Arvada, CO 80002  Jefferson  ...          4171           60398
1  5295 Gladiola St, Arvada, CO 80002  Jefferson  ...           133           60398
2    5722 Xenon Way, Arvada, CO 80002  Jefferson  ...          5297           60398
3      5955 Carr St, Arvada, CO 80004  Jefferson  ...          3079           60398
4   7439 W 74th Ave, Arvada, CO 80003  Jefferson  ...          4608           60398

[5 rows x 13 columns]

In [ ]:
# Export the integration to csv ot excel file.
df.to_excel('/content/drive/My Drive/datasets/data_practicum/integrated_random_address_solar_data.xlsx', sheet_name="cleaned")